<%- include('./templates/head') %> <%- include('./templates/header') %>

<div
class="detail-top justify-content-between pb-3 mb-3 d-flex flex-row align-items-center"
>
<a href="/"><p class="pl-4">Home</p></a>
<i class="fa-solid fa-xs fa-angle-right"></i>
<p>Checkout</p> 
<i class="fa-solid fa-xs fa-angle-right"></i>
<p>Order received</p>
</div>

<div class="border-top"></div>

<main id="check-address">
  <!-- progress bar -->
  <ol class="progress-bar">
    <li class="is-complete" data-step="1">Shopping Cart</li>
    <li class="is-complete" data-step="2">Checkout</li>
    <li class="is-active" data-step="3" class="progress__last">Order Placed</li>
  </ol>

  <!-- messages of order completed -->
  <div id="order-complete">
    <img src="img/ICON/Group.svg" alt="Group" />
    <p>
      Thank you for ordering in our restaurant. Your order number is
      <b><span><%= session.orderID %></span></b> Now check a Pizza Tracker progress with your
      order.
    </p>
    <!-- CTA button -->
    <a href="/orders"
      ><button class="btn btn-success btn-sm">Go To Pizza Tracker</button></a
    >
  </div>
</main>

<%- include('./templates/footer') %>

<script>  
  document.getElementById('moto-icon-hide').style.display = "none";
  document.querySelectorAll('.bottom-nav li')[3].style.color="white";
</script>