<div
class="tracking-top detail-top justify-content-between pb-3 mb-3 d-flex flex-row align-items-center"
>
<a href="/"><p class="pl-4">Home</p></a>
<i class="fa-solid fa-xs fa-angle-right"></i>
<p><%= pageName %></p>
</div>

<div class="border-top"></div>