<%- include('../restaurant/partials/header') %>
<%- include('../restaurant/partials/nav-bar') %>


<main id="more">
    <h1>Admin</h1>
  
    <div class="mt-4">
        <div class="col">
            <i class="fa-solid fa-2xl fa-file-contract"></i>
            <p>Sales Analytics</p>
        </div>
      
        <div class="col">
          <i><i class="fa-solid fa-user fa-xl"></i></i>
          <p>Account details</p>
        </div>

        <div class="col logout">
            <a href="/admin/signin?q=session-expired"
              ><i class="fa-solid fa-xl fa-right-from-bracket"></i
            ></a>
            <p>Logout</p>
        </div>
    </div>
</main>


<script>
    const btmNav = document.querySelector('.bottom-nav');
    const leftNav = document.getElementById('rest-left-nav');
    
    // change color of bottom menu
    btmNav.querySelectorAll('li')[1].style.color = "white";

    // change color of left nav
    leftNav.querySelectorAll('i')[1].style.color = "#000";
</script>
<%- include('../restaurant/partials/footer') %>